<div class="row">
  <div class="col-md-4 col-sm-6">
    <!-- Widget: user widget style 1 -DIGESTcard -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-aqua-active">
        <h3 class="widget-user-username">Digest Cycles</h3>
        <h5 class="widget-user-desc">Summary</h5>
      </div>
      <div class="widget-user-image">
        <img class="img-circle" src="/img/digest_measures.jpg" alt="digestMeasures">
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-3 border-right">
            <div class="description-block" data-toggle="tooltip" data-original-title="since {{digestMeasures.performanceTime[0].startTime/1000}} sec of page ready">
              <h5 class="description-header">{{digestMeasures.performanceTime.length}}</h5>
              <span class="description-text">Total</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4 border-right">
            <div class="description-block" data-toggle="tooltip" data-original-title="one Longest">
              <h5 class="description-header">{{digestMeasures.max.duration}}</h5>
              <span class="description-text">expensive (ms)</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-5">
            <div class="description-block" data-toggle="tooltip" data-original-title="n continuous cycles / total time (see more in settings view)">
              <h5 class="description-header">{{digestMeasures.max.edr.n}} / {{digestMeasures.max.edr.duration}}</h5>
              <span class="description-text">digest rate (n/ms)</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col Digest card-->
  <div class="col-md-4 col-sm-6">
    <!-- Widget: user widget style 1 -WATCHcard -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-lime-active">
        <h3 class="widget-user-username">Watch Counts</h3>
        <h5 class="widget-user-desc">Summary</h5>
      </div>
      <div class="widget-user-image">
        <img class="img-circle" src="/img/digest_measures.jpg" alt="digestMeasures">
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-6 border-right">
            <div class="description-block" data-toggle="tooltip" data-original-title="in any digest cycle">
              <h5 class="description-header">
                <span class="badge bg-red" ng-class="{'bg-green':!digestMeasures.max.watcherMeasures.counts.dirtyexpensive}">{{digestMeasures.max.watcherMeasures.counts.total}}</span>
              </h5>
              <span class="description-text">max total count</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <div class="description-block" data-toggle="tooltip" data-original-title="in any digest cycle">
              <h5 class="description-header">
                <span class="badge bg-red" ng-class="{'bg-green':!digestMeasures.max.watcherMeasures.counts.dirtyexpensive}">{{digestMeasures.max.watcherMeasures.counts.dirty}}</span>
              </h5>
              <span class="description-text">max dirty counts</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col Watch card-->
  <div class="col-md-4 col-sm-6">
    <!-- Widget: user widget style 1 -SCOPEcard -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-yellow-active">
        <h3 class="widget-user-username">Scope Measures</h3>
        <h5 class="widget-user-desc">Summary used in digest cycle</h5>
      </div>
      <div class="widget-user-image">
        <img class="img-circle" src="/img/digest_measures.jpg" alt="digestMeasures">
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-6 border-right">
            <div class="description-block" data-toggle="tooltip" data-original-title="max in one digest cycle">
              <h5 class="description-header">{{digestMeasures.max.watcherMeasures.scopes.total}}</h5>
              <span class="description-text">Total</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <div class="description-block" data-toggle="tooltip" data-original-title="How many participated in digest dirty">
              <h5 class="description-header">{{digestMeasures.max.watcherMeasures.scopes.dirty}}</h5>
              <span class="description-text">max participation</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.widget-user -->
  </div>
  <!-- /.col scope card-->
</div>
