<div class="box">
  <div class="box-header">
    <h3 class="box-title">Digest Measure Table</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>start time (ms)</th>
          <th>duration (ms)</th>
          <th> watch count (dirty / total) </th>
          <th> TTL errors </th>
          <th> unCompleted digest errors </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="measure in digestMeasures.performanceTime">
          <td>{{:: $index}}</td>
          <td>{{:: measure.startTime}}</td>
          <td> {{:: measure.duration}} </td>
          <td> {{:: measure.watcherMeasures.counts.dirty}} / {{:: measure.watcherMeasures.counts.total}}</td>
          <td>{{:: measure.watcherMeasures.ttlErrors.length}} </td>
          <td>{{:: measure.watcherMeasures.digestError.message}} </td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
