<!DOCTYPE html>
<html ng-app="birbal-app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS Birbal</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--bootstrap-->
    <link rel="stylesheet" href="../vendor/AdminLTE/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/AdminLTE/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendor/AdminLTE/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../vendor/AdminLTE/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../vendor/AdminLTE/css/skin-blue.min.css">
    <!--  Custom styles  -->
    <link rel="stylesheet" href="../css/panel.css">
</head>

<body class="hold-transition skin-blue sidebar-mini fixed" ng-controller="panelViewController">
<!-- wrapper -->
<div class="wrapper">
    <!-- main header -->
    <div class="main-header">
        <a href="#" class="logo" data-toggle="offcanvas" role="button">
            <span class="sidebar-toggle visible-xs no-pad-top-force"></span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="logo-lg">AngularJS <b>Birbal</b> </span>
            <span class="logo-mini">nb</span>
        </a>
        <!-- ./main header -->
    </div>
    <div ng-include="'sidebar.html'"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1> AngularJS App Stats from Birbal's view </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#" ng-click="sidebar.changePanelView('dashboard');">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <li class="active">{{view}}</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <span nb-panel-view view-name="view">No AngularJS app detected Test.</span>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<script src="/node_modules/jquery/dist/jQuery.js"></script>
<script src="/node_modules/angular/angular.js"></script>
<!-- Birbal communication -->
<script src="/src/message.js"></script>
<script src="/src/basicMessageAction.js"></script>
<script src="../vendor/AdminLTE/js/bootstrap.min.js"></script>
<script src="../vendor/AdminLTE/js/app.min.js"></script>
<!-- communication and tab evals -->
<script src="../js/devtoolsExtended.js"></script>
<script src="../js/birbalJSInit.js"></script>
<!-- panel view scripts -->
<script src="../js/birbal.app.js"></script>
<script src="../js/background.service.js"></script>
<script src="../js/panel-view.directive.js"></script>
</body>
</html>