<div style="display: none">

    <span><b>Sidebar Option:</b></span>
    <br>

    <div class="checkbox">
        <label> <input type="checkbox" ng-model="settings.properties"> Show ng properties in Element Panel </label>
    </div>
    <br>
    <span><b>digest Cycle related Option:</b></span>
    <br>

    <div class="checkbox">
        <label> debounce time between digest cycles(in ms)
            <input type="number" ng-model="settings.digestDebounce" ng-blur="settings.reCalculateMeasures();">
        </label>
    </div>

</div>
<div>
    Will provide feature details soon.
</div>