<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" style="padding-top:0px;" >
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Logo -->
          <div class="main-header">

            <!-- Logo -->
            <a href="#" class="logo" data-toggle="offcanvas" role="button">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini">nb</span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg">AngularJS <b>Birbal</b> </span>
            </a>
          </div>

          <!-- Sidebar user panel - required for menu -->
          <div class="user-panel"> </div>

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
            <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>
