<div class="row">
    <div class="col-sm-6">
        <!-- Widget: user widget style 1 -DIGEST card -->
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username">Digest Cycles</h3>
                <h5 class="widget-user-desc">Summary</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="/img/digest_measures.jpg" alt="digestMeasures">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-5 border-right">
                        <div class="row">
                            <div class="description-block" data-toggle="tooltip"
                                 data-original-title="Longest from chart range">
                                <span class="description-text">Longest </span>
                                <h5 class="description-header">{{digestInfo.highlights.longest | number:2}} ms</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <div class="row">
                            <div class="description-block" data-toggle="tooltip"
                                 data-original-title="average digest rate - less is good.">
                                <span class="description-text">Digest rate: </span>
                                <h5 class="description-header"> {{digestInfo.highlights.rate | number:0}}
                                    cycles per second </h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="description-block" data-toggle="tooltip"
                                 data-original-title="rendering time to update dom due to digest cycle">
                                <span class="description-text">DOM render Longest </span>
                                <h5 class="description-header">{{digestInfo.highlights.domLongest | number:0}} ms</h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <div class="row">
                            <div class="description-block" data-toggle="tooltip"
                                 data-original-title="average DOM render time">
                                <span class="description-text">DOM average render time: </span>
                                <h5 class="description-header"> {{digestInfo.highlights.domAverageTime | number:0}}
                                    ms </h5>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!--
                                <div class="row" ng-if="selectedDigestRange.edr">
                                    <div class="col-sm-12">
                                        <div class="description-block">
                                            <span>???  For chosen time range, digest rate: {{selectedDigestRange.edr.nDigest}} cycles in
                                                {{selectedDigestRange.edr.runtime|number:2}} ms</span>
                                            <h5 class="description-header">longest cycle:
                                                {{selectedDigestRange.longestDigestTime|number:2}} ms</h5>
                                        </div>
                                        &lt;!&ndash; /.description-block &ndash;&gt;
                                    </div>
                                    &lt;!&ndash; /.col &ndash;&gt;
                                </div>
                -->
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <!-- /.col Digest card-->
    <div class="col-sm-6">
        <!-- Widget: user widget style 1 -WATCH card -->
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-lime-active">
                <h3 class="widget-user-username">Watch Counts</h3>
                <h5 class="widget-user-desc">Summary</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="/img/digest_measures.jpg" alt="watchMeasures">
            </div>
            <div class="box-footer" ng-class="{'bg-red-gradient':!!digestCycle.highlights.redLightWatchMsg}">
                <div class="row" data-toggle="tooltip"
                     data-original-title="{{digestCycle.highlights.redLightWatchMsg}}">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <span class="description-text">max total count in cycle</span>
                            <h5 class="description-header">{{digestCycle.highlights.nWatchers}}</h5>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block" data-toggle="tooltip" data-original-title="in one digest cycle">
                            <span class="description-text">max dirty count in cycle</span>
                            <h5 class="description-header">{{digestCycle.highlights.dirtyWatchers }}</h5>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <!-- /.col Watch card-->
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="digest-chart" id="digest-rate-chart-container">
            <div class="loader"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="digest-chart" id="dom-chart-container">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="digest-chart" id="longest-digest-chart-container">
            <div class="loader"></div>
        </div>
    </div>
</div>