<div id="dashboard">
    <p> Detected AngularJS version {{ csInfo.ngVersion.full}}({{ csInfo.ngVersion.codeName}}) </p>
    <span> ng-app = <b> {{ csInfo.ngModule}} </b></span>
    <br> <br>

    <div ng-if="!csInfo.chartCreated">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Enable Performance analysis</h3>
            </div>
            <div class="panel-body">
                <span>Please enable performance analysis to see dashboard values and performance graphs.</span>
                <b>Check the "Performance Analysis" option in left navigator to enable/resume it. Uncheck to pause
                    analysis and got through details.</b>
            </div>
        </div>
    </div>

    <div ng-include="'dashcards.html'"></div>
</div>