<div class="row">
    <div class="col-sm-6">
        <!-- Widget: user widget style 1 -DIGEST card -->
        <div class="box box-widget widget-user digest-summary">
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username">Digest Cycle Summary</h3>
                <h5 class="widget-user-desc">highlights of recent 3 min activities with graph details</h5>
                <a class="label" href="#" ng-click="sidebarActions.changePanelView('digestDetails');">
                    <i class="fa fa-share"></i><span> &nbsp;Go To detail</span>
                </a>
            </div>
            <div class="box-footer">
                <ul class="nav nav-stacked">
                    <li><a href="#longest-digest-chart-container"><i class="fa fa-line-chart"/>
                        <span>Longest Cycle:</span>
                        <span class="pull-right">{{digestInfo.highlights.longest | number:2}} ms</span>
                    </a></li>
                    <li><a href="#digest-rate-chart-container"><i class="fa fa-line-chart"/>
                        <span>Average Digest rate:</span>
                        <span class="pull-right">{{digestInfo.highlights.rate | number:0}} cycles per second</span>
                    </a></li>
                    <li><a href="#dom-chart-container" title="rendering time to update HTML due to digest cycle">
                        <i class="fa fa-line-chart"/> <span>Longest HTML/DOM render time:</span>
                        <span class="pull-right">{{digestInfo.highlights.domLongest | number:0}} ms</span>
                    </a></li>
                    <li><a href="#dom-chart-container" title="rendering time to update HTML due to digest cycle">
                        <i class="fa fa-line-chart"/> <span>Average HTML/DOM render time:</span>
                        <span class="pull-right">{{digestInfo.highlights.domAverageTime | number:0}} ms</span>
                    </a></li>
                </ul>
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <!-- /.col Digest card-->
    <div class="col-sm-6">
        <!-- Widget: user widget style 1 -WATCH card -->
        <div class="box box-widget widget-user watch-summary">
            <div class="widget-user-header bg-lime-active">
                <h3 class="widget-user-username">Watch Summary</h3>
                <h5 class="widget-user-desc">highlights of watch counts in digest cycle</h5>
                <a class="label" href="#" ng-click="sidebarActions.changePanelView('watchDetails');">
                    <i class="fa fa-share"></i> <span> &nbsp;Go To detail</span>
                </a>
            </div>
            <div class="box-footer">
                <ul class="nav nav-stacked">
                    <li><a>
                        <span>max total count in cycle:</span>
                        <span class="pull-right">{{watchInfo.highlights.max}}</span>
                    </a></li>
                    <li><a>
                        <span>max dirty count in cycle:</span>
                        <span class="pull-right">{{watchInfo.highlights.dirty}}</span>
                    </a></li>
                    <li><a>
                        <span>Average watch counts in digest cycle:</span>
                        <span class="pull-right">{{watchInfo.highlights.avg | number:0}}</span>
                    </a></li>
                    <li><a> <span>&nbsp;</span> </a></li>
                </ul>
            </div>
            <!--<div class="box-footer" ng-class="{'bg-red-gradient':!!digestCycle.highlights.redLightWatchMsg}">-->
            <!--<div class="row">-->
            <!--<div class="col-sm-4 border-right">-->
            <!--<div class="description-block">-->
            <!--<span class="description-text">max total count in cycle</span>-->
            <!--<h5 class="description-header">{{watchInfo.highlights.max}}</h5>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.description-block &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.col &ndash;&gt;-->
            <!--<div class="col-sm-4">-->
            <!--<div class="description-block" data-toggle="tooltip" data-original-title="in one digest cycle">-->
            <!--<span class="description-text">max dirty count in cycle</span>-->
            <!--<h5 class="description-header">{{digestCycle.highlights.dirtyWatchers }}</h5>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.description-block &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.col &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.row &ndash;&gt;-->
            <!--</div>-->
        </div>
        <!-- /.widget-user -->
    </div>
    <!-- /.col Watch card-->
</div>

<!-- All Charts -->
<div class="row">
    <div class="col-sm-8">
        <div class="digest-chart" id="digest-rate-chart-container">
            <div class="loader"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="digest-chart" id="dom-chart-container">
            <div class="loader"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <div class="digest-chart" id="longest-digest-chart-container">
            <div class="loader"></div>
        </div>
    </div>
</div>
<!-- /.charts all -->