<div>
    <p> Detected AngularJS version {{ csInfo.ngVersion.full}}({{ csInfo.ngVersion.codeName}}) </p>
    <span> ng-app = <b> {{ csInfo.ngModule}} </b></span>
    <br> <br>

    <div ng-if="!csInfo.chartCreated">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Enable Performance analysis</h3>
            </div>
            <div class="panel-body">
                <span>Please enable performance analysis to see digest detail analysis.</span><br/>
                <b>Check the "Performance Analysis" option in left navigator to enable/resume it. Uncheck to pause
                    analysis and got through details.</b>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div ng-if="::digestInfo.filtersList" ng-include="" src="'filter-list-group.html'"
                 onload="info=digestInfo;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Digest Information ({{digestInfo.details.length+'/'+digestInfo.fullListLength}}) </div>
                <div class="panel-body">
                    <p>Digest cycles are grouped by debounce time provided in "settings". the bigger the worse. browser
                        can be freeze in this duration stopping/delaying all user actions.
                        Overlapped DOM rendering time is adjusted between groups. </p>
                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <sortable-column sort-type="numeric" predicate="+list.length"
                                             sort-by="digestInfo.sortByExpressions">
                                <span>n in group</span>
                            </sortable-column>
                        </th>
                        <th>
                            <sortable-column predicate="+startDate" sort-by="digestInfo.sortByExpressions">
                                <span>Start time (HH:mm:ss)</span>
                            </sortable-column>
                        </th>
                        <th>
                            <sortable-column sort-type="numeric" predicate="+duration"
                                             sort-by="digestInfo.sortByExpressions">
                                <span>Duration</span>
                            </sortable-column>
                        </th>
                        <th>
                            <sortable-column sort-type="numeric" predicate="+domRenderTime"
                                             sort-by="digestInfo.sortByExpressions">
                                <span>HTML rendering & repainting</span>
                            </sortable-column>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="group in digestInfo.details">
                        <th scope="row">{{group.list.length}}</th>
                        <td>{{group.startDate|date:'HH:mm:ss'}}</td>
                        <td>{{group.duration|number:0}} ms</td>
                        <td>{{group.domRenderTime|number:0}} ms</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--<div ng-include="'digestMeasures.html'"></div>-->
</div>