<div>
    <p> Detected AngularJS version {{ csInfo.ngVersion.full}}({{ csInfo.ngVersion.codeName}}) </p>
    <span> ng-app = <b> {{ csInfo.ngModule}} </b></span>
    <br> <br>

    <div ng-if="!csInfo.chartCreated">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Enable Performance analysis</h3>
            </div>
            <div class="panel-body">
                <span>Please enable performance analysis to see digest detail analysis.</span><br/>
                <b>Check the "Performance Analysis" option in left navigator to enable/resume it. Uncheck to pause
                    analysis and got through details.</b>
            </div>
        </div>
    </div>

    <!--<div class="row">-->
    <!--<div class="box box-primary">-->
    <!--<div class="box-header">-->
    <!--<h3 class="box-title">Digest range Slider</h3>-->
    <!--<span>select time range to filter digest result and inline chart shows the frequency of digest cycle over the time scale.</span>-->
    <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
    <!--<div class="box-body">-->
    <!--<div class="row margin">-->
    <!--<span id="digestRangeSlider" range-slider="" slider-config="rangeSlider.digest.config"-->
    <!--on-range-change="rangeSlider.digest.onChange"-->
    <!--measures="digestInfo.details"></span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-sm-8">
            <div class="box filter-box box-success">
                <div class="box-header">
                    <h3 class="box-title">
                        <button type="button"
                                ng-click="clearFilters(digestInfo.filters.list, digestInfo.activeFilterList);"
                                class="btn btn-primary">
                            Clear all Filters
                        </button>
                        <span style="padding-left: 140px;"> Pre-defined filters </span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--<div class="margin-bottom-20">-->
                    <!---->
                    <!--</div>-->
                    <div class="list-group">
                        <a href="#" class="list-group-item"
                           ng-click="toggleFilter(digestInfo.activeFilterList, digestFilterItem, $event);"
                           ng-class="{'list-group-item-success selected':digestFilterItem.isActive}"
                           ng-repeat="digestFilterItem in digestInfo.filters.list">
                            <span>{{digestFilterItem.label}}</span>
                            <input class="list-item-input form-control" type="{{::digestFilterItem.input.type}}"
                                   ng-if="::digestFilterItem.input"
                                   ng-model="digestFilterItem.input.value"
                                   placeholder="{{::digestFilterItem.input.placeholder}}">
                            <span class="selection-mark glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Digest Information</div>
                <div class="panel-body">
                    <p>Digest cycles are grouped by debounce time provided in "settings". the bigger the worse. browser
                        can be freeze in this duration stopping/delaying all user actions.
                        Overlapped DOM rendering time is adjusted between groups. </p>
                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <sortable-column sort-type="numeric" predicate="+list.length"
                                             sort-by="digestInfo.sortByExpressions">
                                <span>n in group</span>
                            </sortable-column>
                        </th>
                        <th>
                            <sortable-column predicate="+startDate" sort-by="digestInfo.sortByExpressions">
                                <span>Start time (HH:mm:ss)</span>
                            </sortable-column>
                        </th>
                        <th>
                            <sortable-column sort-type="numeric" predicate="+duration"
                                             sort-by="digestInfo.sortByExpressions">
                                <span>Duration</span>
                            </sortable-column>
                        </th>
                        <th>
                            <sortable-column sort-type="numeric" predicate="+domRenderTime"
                                             sort-by="digestInfo.sortByExpressions">
                                <span>HTML rendering & repainting</span>
                            </sortable-column>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="group in digestInfo.details | birbalSearchBy : digestInfo.activeFilterList | orderBy: digestInfo.sortByExpressions">
                        <th scope="row">{{group.list.length}}</th>
                        <td>{{group.startDate|date:'HH:mm:ss'}}</td>
                        <td>{{group.duration|number:0}} ms</td>
                        <td>{{group.domRenderTime|number:0}} ms</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--<div ng-include="'digestMeasures.html'"></div>-->
</div>