<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            Digest Measure Table <i data-toggle="tooltip" data-original-title="clear sort options"
                                    ng-click="digestSortByExpression()" class="fa fa-fw fa-reorder"></i>
        </h3>

        <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div><!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped " id="digestCycleDataTable">
            <thead style="background-color: white;">
            <tr>
                <th style="width: 10px;">#</th>
                <th>
                    <div data-toggle="tooltip" data-original-title="digest start time after page load"
                         ng-click="digestSortByExpression('startTime', $event)">
                        start time (sec)<i class="fa fa-fw fa-unsorted"></i>
                    </div>
                </th>
                <th><span ng-click="digestSortByExpression('runtime', $event)">duration (ms) <i
                        class="fa fa-fw fa-unsorted"></i></span></th>
                <th>
                    <div data-toggle="tooltip"
                         data-original-title="If these consumes more time and makes digest cycle slow or increase effective digest rate, try to manage watchers.">
                        watch count <br> (
                        <span ng-click="digestSortByExpression('nDirtyWatchers', $event)">dirty<i
                                class="fa fa-fw fa-unsorted"></i></span> /
                        <span ng-click="digestSortByExpression('nWatchers', $event)">total<i
                                class="fa fa-fw fa-unsorted"></i></span> )
                    </div>
                </th>
                <th>
                    <div data-toggle="tooltip"
                         data-original-title="watch time in % of digest time. Gives idea of watch impact on digest cycle.
                        digest performance issue due to watch if total is > 75%.  try to reduce wasted watch time.">
                        watch time of digest for
                        <span ng-click="digestSortByExpression('nWasteWatchersTime', $event)">wasted <i
                                class="fa fa-fw fa-unsorted"></i></span> |
                        <span ng-click="digestSortByExpression('nWatchersRuntime', $event)">total <i
                                class="fa fa-fw fa-unsorted"></i></span>
                    </div>
                </th>
                <th>
                    <div data-toggle="tooltip"
                         data-original-title="Non-watcher time includes http, $evalAsync, $timeout, $interval, postDigest, events, DOM updates etc.">
                        <span ng-click="digestSortByExpression('otherRuntime', $event)"> non watch time <i
                                class="fa fa-fw fa-unsorted"></i></span>
                    </div>
                </th>
                <th>
                    <div> n basic asyncQueue, postDigestQueue</div>
                </th>
                <th>
                    <div> Angular Events (name: time)</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="aMeasure in digestCycle.measures | range: 'digestMeasure': selectedDigestRange.from: selectedDigestRange.to |orderBy: digestExpression">
                <td>{{:: aMeasure.index}}</td>
                <td>{{:: aMeasure.startTime/1000 | number : 3}} sec</td>
                <td> {{:: aMeasure.runtime | number :2}} ms</td>
                <td> {{:: aMeasure.nDirtyWatchers}} / {{:: aMeasure.nWatchers}}</td>
                <td> wasted {{:: aMeasure.nWasteWatchersTime|number:2}} ms
                    <br> total {{:: aMeasure.nWatchersRuntime |number:2}} ms
                </td>
                <td> {{:: aMeasure.otherRuntime | number:2}} ms</td>
                <td><p ng-if=":: aMeasure.asyncQueue.length"> basic Async - {{:: aMeasure.asyncQueue.length}} </p>
                    <p ng-if=":: aMeasure.postDigestQueue.length"> basic Post Digest -
                        {{:: aMeasure.postDigestQueue.length}} </p>
                    <p ng-if=":: aMeasure.nWatchAsyncStarters"> {{:: aMeasure.nWatchAsyncStarters}}
                        watchers involved in next async </p>
                </td>
                <td>
                    <p ng-if="::aMeasure.events.emit.length"><b>-Emit- took
                        {{::aMeasure.events.emitTotal|number:2}} ms</b></p>
                    <div ng-repeat="emit in ::aMeasure.events.emit">
                        {{::emit.name}}
                    </div>
                    <p ng-if="::aMeasure.events.broadcast.length"><b>-Broadcast- took
                        {{::aMeasure.events.broadcastTotal|number:2}} ms</b></p>
                    <div ng-repeat="broadcast in ::aMeasure.events.broadcast">
                        {{::broadcast.name}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>