<div>
    <h4> Analysis Tips: </h4>
    <ol>
        <li> find out watches never run using search criteria <b>nFn = 0</b></li>
        <li> for <b>nFn = 1</b>, and you have nGet increasing significant time period, you should re visit that watcher code.</li>
        <li> for <b>nFn = stable n (n scopes)</b>, and you have nGet increasing, you should re visit that watcher code.</li>
    </ol>
    <br><br><br>

    <h2>Help me to understand what information we are seeking and should get more connections and details to analyze app.</h2>
</div>