<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS Birbal</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- css -->
    <link rel="stylesheet" href="/lib/ng-dependency-graph/styles/app.css">
    <link rel="stylesheet" href="/lib/ng-dependency-graph/styles/shepherd-theme-default.css">
    <!-- adminLTE theme using bootstrap -->
    <link rel="stylesheet" href="/lib/admin-lte/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/admin-lte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/lib/admin-lte/css/skin-blue.min.css">
    <link rel="stylesheet" href="/lib/admin-lte/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/panel/panel.css">
<% if(env === "prod") {  %>
<!-- Production -->
<% } else {  %>
<!-- Development -->
<% } %>

</head>

<body class="hold-transition skin-blue sidebar-mini fixed" ng-app="birbal-app" ng-controller="panelViewController">
<!-- wrapper -->
<div class="wrapper">
    <!-- main header -->
    <div class="main-header">
        <a href="#" class="logo" data-toggle="offcanvas" role="button">
            <span class="sidebar-toggle visible-xs no-pad-top-force"></span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="logo-lg"><i class="fa fa-navicon"></i> <span>  AngularJS <b>Birbal</b> </span> </span>
            <span class="logo-mini"><i class="fa fa-navicon"></i></span>
        </a>
        <!-- ./main header -->
    </div>
    <div ng-include="'sidebar.html'"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1> AngularJS App Stats from Birbal's eye </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#" ng-click="sidebar.changePanelView('dashboard');">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <li class="active">{{view}}</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <span nb-panel-view view-name="view">No AngularJS app detected Test.</span>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- scripts -->
<!-- API jquery and Angular -->
<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular.min.js"></script>
<!-- AdminLTE theme with bootstrap and chart -->
<script src="/lib/admin-lte/js/bootstrap.min.js"></script>
<script src="/lib/admin-lte/js/app.min.js"></script>
<script src="/lib/canvasjs.min.js"></script>

<script src="/src/message.js"></script>
<!-- graph -->
  <script src="/lib/typeahead.jquery.js"></script>
  <script src="/lib/angular-animate.min.js"></script>
  <script src="/lib/d3.min.js"></script>
  <script src="/lib/lodash.js"></script>
  <script src="/lib/tether.min.js"></script>
  <script src="/lib/shepherd.min.js"></script>
<!-- inject graph -->
<script src="/lib/ng-dependency-graph/ng-dependency-graph.js"></script>

<!-- source -->
<% if(env === "prod") {  %>
<script src="/src/panel/panel.js"></script>  
<% } else {  %>
  <script src="../js/birbalJSInit.js"></script>  
  <script src="../js/birbal.app.js"></script>  
  <script src="../js/background.service.js"></script>  
  <script src="../js/panel-view.directive.js"></script>  
  <script src="../js/birbalFilters.filter.js"></script>  
  <script src="../js/dashboardCharts.factory.js"></script>
  <script src="../js/digestMeasureLog.factory.js"></script>
  <script src="../js/digestView.factory.js"></script>
  <script src="../js/httpRecordFactory.factory.js"></script>
  <script src="../js/dependencyTree.factory.js"></script>
  <script src="../js/rangeSlider.directive.js"></script>
  <script src="../js/searchCriteria.watch.directive.js"></script>
  <script src="../js/watcherView.factory.js"></script>
  <script src="../js/sortableColumn.component.js"></script>
  <script src="../js/dataNotifier.promise.factory.js"></script>
  <script src="../js/digestGroupDetail.component.js"></script>
<%  } %>

</body>
</html>