<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS Birbal</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/lib/ng-dependency-graph/styles/app.css">
    <link rel="stylesheet" href="/lib/ng-dependency-graph/styles/shepherd-theme-default.css">
    <!-- css -->
    <% _.forEach(files.css, function(cssFilePath) { var htmlComment=cssFilePath.comment; if(htmlComment) { cssFilePath= cssFilePath.path;%>  <%= htmlComment%> <%}%>
    <link rel="stylesheet" href="<%= cssFilePath%>">
    <% }); %>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed" ng-app="birbal-app" ng-controller="panelViewController">
<!-- wrapper -->
<div class="wrapper">
    <!-- main header -->
    <div class="main-header">
        <a href="#" class="logo" data-toggle="offcanvas" role="button">
            <span class="sidebar-toggle visible-xs no-pad-top-force"></span>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="logo-lg">AngularJS <b>Birbal</b> </span>
            <span class="logo-mini">nb</span>
        </a>
        <!-- ./main header -->
    </div>
    <div ng-include="'sidebar.html'"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1> AngularJS App Stats from Birbal's eye </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#" ng-click="sidebar.changePanelView('dashboard');">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <li class="active">{{view}}</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <span nb-panel-view view-name="view">No AngularJS app detected Test.</span>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- scripts -->
<% _.forEach(files.js,function(jsFilePath) { var htmlComment=jsFilePath.comment; if(htmlComment) { jsFilePath = jsFilePath.path;%> <%= htmlComment%> <%}%>
<script src="<%= jsFilePath%>"></script>
<% }); %>

<!-- graph -->
  <script src="/lib/typeahead.jquery.js"></script>
  <script src="/lib/angular-animate.min.js"></script>
  <script src="/lib/d3.min.js"></script>
  <script src="/lib/lodash.js"></script>
  <script src="/lib/tether.min.js"></script>
  <script src="/lib/shepherd.min.js"></script>
<!-- inject graph -->
  <script src="/lib/ng-dependency-graph/scripts/app.module.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/analytics.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/util/util.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/tour/tour.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/models/Node.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/models/ModuleStats.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/models/Module.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/models/models.module.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/models/Component.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/models/App.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/main/MainCtrl.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/infoPanel/infoPanel.module.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/infoPanel/dgInfoPanelList.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/graph/dgGraph.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/core/storage.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/core/nodeFactory.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/core/inspectedApp.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/core/Graph.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/core/currentView.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/core/Const.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/controls/dgSearchNode.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/controls/controls.module.js"></script>
  <script src="/lib/ng-dependency-graph/scripts/app/AppCtrl.js"></script>

</body>
</html>