<div>
    <button type="button" class="btn btn-block btn-primary" ng-click="settings.clearData();">Clear All Data</button>
    <div class="checkbox">
        <label> <input type="checkbox" ng-model="settings.showScopeToElement"
                       ng-click="settings.exportScopesInElementPanel();"> Show ng scope in Element Panel </label>
    </div>
    <br>
    <span><b>digest Cycle related Option:</b></span>
    <br>

    <div class="checkbox">
        <label> debounce time between digest cycles(in ms)
            <input type="number" min="0" ng-model="settings.digestDebounceTime" ng-blur="settings.debounceChanged();">
        </label>
    </div>
</div>