<!-- Left side column.-->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel - required for sidebar-menu -->
        <div class="user-panel">    <!-- empty -->  </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li select-view="dashboard">
                <a href="#" ng-click="sidebarActions.changePanelView('dashboard');">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li select-view="digestDetails">
                <a href="#" ng-click="sidebarActions.changePanelView('digestDetails');">
                    <i class="fa fa-refresh"></i> <span>Digest details</span>
                </a>
            </li>
            <li select-view="watchDetails">
                <a href="#" ng-click="sidebarActions.changePanelView('watchDetails');">
                    <i class="fa fa-eye"></i> <span>Watch Benchmarks</span>
                </a>
            </li>
            <li select-view="dependencyGraph">
                <a href="#" ng-click="sidebarActions.changePanelView('dependencyGraph');">
                    <i class="fa fa-sitemap"></i> <span>Dependency Graph</span>
                </a>
            </li>
            <li select-view="settings">
                <a href="#" ng-click="sidebarActions.changePanelView('settings');">
                    <i class="fa fa-cogs"></i> <span>Settings</span>
                </a>
            </li>
            <li class="perf-check" ng-show="!csInfo.pause && csInfo.ngDetected">
                <a title="it is ON" href="#" ng-click="sidebarActions.pauseMyAnalysis();">
                    <i class="fa fa-stop"></i> <span>Stop Perf Analysis</span>
                </a>
            </li>
            <li class="perf-check" ng-show="csInfo.pause && csInfo.ngDetected">
                <a href="#" title="it is OFF" ng-click="sidebarActions.resumeMyAnalysis();">
                    <i class="fa fa-play"></i> <span>Start Perf Analysis</span>
                </a>
            </li>
            <!--<li select-view="help">-->
                <!--<a href="#" ng-click="sidebarActions.changePanelView('help');">-->
                    <!--<i class="fa fa-link"></i> <span>Help</span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>