<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            Watch Measure Table ({{watchInfo.details.length}})
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped " id="watchersDataTable">
            <thead style="background-color: white;">
            <tr>
                <th>
                    <sortable-column sort-type="alpha" predicate="+watch.exp" sort-by="watchInfo.sortByExpressions">
                        <span>watch expression</span>
                    </sortable-column>
                </th>
                <th colspan="2" class="text-center">
                    <div data-toggle="tooltip"
                         data-original-title="watch expression evaluation to verify any changes made.">
                        <span>Expression evaluated</span>
                    </div>
                </th>
                <th colspan="2" class="text-center">
                    <div data-toggle="tooltip" data-original-title="watch action listener">
                        <span>Action Listener</span>
                    </div>
                </th>
                <th>
                    <sortable-column sort-type="numeric" predicate="+watch.runTime"
                                     sort-by="watchInfo.sortByExpressions"
                                     data-toggle="tooltip"
                                     data-original-title="total runtime of both watch expression evaluation and action listener">
                        <span>total time</span>
                    </sortable-column>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>
                    <sortable-column sort-type="numeric" predicate="+watch.howMany.get"
                                     sort-by="watchInfo.sortByExpressions">
                        <span>occurrence</span>
                    </sortable-column>
                </th>
                <th>
                    <sortable-column sort-type="numeric" predicate="+watch.get" sort-by="watchInfo.sortByExpressions">
                        <span>time</span>
                    </sortable-column>
                </th>
                <th>
                    <sortable-column sort-type="numeric" predicate="+watch.howMany.fn"
                                     sort-by="watchInfo.sortByExpressions">
                        <span>occurrence</span>
                    </sortable-column>
                </th>
                <th>
                    <sortable-column sort-type="numeric" predicate="+watch.fn" sort-by="watchInfo.sortByExpressions">
                        <span>time</span>
                    </sortable-column>
                </th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="aMeasure in watchInfo.details | birbalSearchBy : watchInfo.activeFilterList | orderBy: watchInfo.sortByExpressions">
                <td>{{:: aMeasure.watch.exp}}</td>
                <td> {{ aMeasure.watch.howMany.get}}</td>
                <td> {{ aMeasure.watch.get|number:2}} ms</td>
                <td> {{ aMeasure.watch.howMany.fn}}</td>
                <td> {{ aMeasure.watch.fn|number:2}} ms</td>
                <td> {{ aMeasure.watch.runTime | number :2}} ms</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>